<style>
  h2.text-center {
    font-size: 3rem; 
    color: #30F9B2; 
  }
  .btn-primary {
    background-color: #30F9B2;
    border-color: #30F9B2; 
  }
</style>

<div class="container">
  <h2 class="text-center mb-4">運動記録の編集</h2> 
  <%= form_with model: @exercise_log, local: true do |f| %>
   <div class="mb-3">
              <%= f.label :exercise_date, "記録日", class: "form-label" %>
              <div class="input-group">
                <%= f.date_field :exercise_date, value: Time.zone.today, class: "form-control", required: true %>
              </div>
            </div>
            
            <div class="mb-3">
              <%= f.label :exercise_type, "運動内容", class: "form-label" %>
              <div class="input-group">
                <%= f.text_field :exercise_type, class: "form-control", required: true %>
              </div>
            </div>
            
            <div class="mb-3">
              <%= f.label :time, "運動時間", class: "form-label" %>
              <div class="input-group">
               <%= f.number_field :time, step: 1, class: "form-control", required: true %>
               <span class="input-group-text">分</span>
              </div>

            </div>
            
            <div class="mb-3">
              <%= f.label :notes, "メモ", class: "form-label" %>
              <div class="input-group">
                <%= f.text_area :notes, class: "form-control"  %>
              </div>
            </div>
            
            <div class="text-center">
              <%= f.submit "変更を保存", class: "btn btn-primary mt-4" %>
            </div>
  <% end %>
 exercise_logs/edit
 </div>