<div class="container mt-4">
  <% if flash[:exercise_log_notice].present? %>
    <div class="alert alert-success text-center">
      <%= flash[:exercise_log_notice] %>
    </div>
  <% end %>
  <% if flash[:exercise_log_destroy_notice].present? %>
    <div class="alert alert-success text-center">
      <%= flash[:exercise_log_destroy_notice] %>
    </div>
  <% end %>
  <% if flash[:edit_exercise_notice].present? %>
    <div class="alert alert-success text-center">
      <%= flash[:edit_exercise_notice] %>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-4">
      <div class="card shadow-sm mb-4">
        <div class="card-body text-center">
          <h1 class="card-title" style="font-size: 2rem; color: #75A9FF;">草カレンダー</h1>
        </div>
      </div>
    </div>

    <div class="col-md-8">
     <!-- 日毎にグループ化 -->
     <% @exercise_logs.group_by { |exercise| exercise.exercise_date }.each do |date, exercises| %>
       <div class="card shadow-sm mb-4">
         <div class="card-body">
           <h4 class="text-muted mb-3">
             <%= date.strftime("%Y年%m月%d日") %>
           </h4>
           <% exercises.each do |exercise| %>
             <p>
              <strong>運動内容：</strong> <%= exercise.exercise_type %> <br>
              <strong>運動時間：</strong> <%= exercise.time %> 分<br>
              <strong>メモ：</strong> <%= exercise.notes %>
             </p>
             <%= link_to edit_exercise_log_path(exercise), class: 'btn btn-sm btn-outline-dark' do %>
             編集
             <% end %>
             <%= link_to exercise_log_path(exercise), method: :delete, class: 'btn btn-sm btn-outline-dark', data: { confirm: '本当に削除しますか？' } do %>
              <i class="fa-solid fa-trash-can"></i>
             <% end %>
          
           <% end %>
        
         </div>
       </div>
     <% end %>
   </div>

  </div>
</div>


 