<div class="container mt-4">
  <% if flash[:exercise_log_notice].present? %>
    <div class="alert alert-success text-center">
      <%= flash[:exercise_log_notice] %>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-4">
      <div class="card shadow-sm mb-4">
        <div class="card-body text-center">
          <h1 class="card-title" style="font-size: 2rem; color: #75A9FF;">草カレンダー</h1>
        </div>
      </div>
    </div>

    <div class="col-md-8">
      <!--日毎にする。group_byを使用・何でグループ化したいのか、今回はexercise_date(日)でグループ化-->
      <% @exercise_logs.group_by { |exercise| exercise.exercise_date }.each do |date, exercises| %>
        <div class="card shadow-sm mb-4">
          <div class="card-body">
            <h4 class="text-muted mb-3">
              <%= date.strftime("%Y年%m月%d日") %>
            </h4>
            <% exercises.each do |exercise| %>
              <p>
                <strong>運動内容：</strong> <%= exercise.exercise_type %> <br>
                <strong>運動時間：</strong> <%= exercise.time %> 分<br>
                <strong>メモ：</strong> <%= exercise.notes %>
              </p>
              <hr>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>


 