 <div class="container">
  
 <% if flash[:exercise_log_notice].present? %>
    <div class="ml-4 alert alert-success">
      <%= flash[:exercise_log_notice] %>
    </div>
  <% end %>
 <div class ="row">
     
  <div class="col-md-4">
    <div class="card">
     <div class="card-body">
      <h1>草カレンダー</h1>
     </div>
    </div>
  </div>
 
  <div class="col-md-8">
    <% @exercise_logs.each do |exercise| %>
     <div class ="card">
      <div class ="card-body">
      <h4 class="card-text text-muted">
       <%= exercise.exercise_date.strftime("%Y年%m月%d日")  %>
       </h4>
     <%= exercise.exercise_type %>
     <%= exercise.time %>
     <%= exercise.notes %>
      </div>
     </div>
    <% end %>
        
      
   
  
 </div>
 </div>
</div>
 