<style>
  h2.text-center {
    font-size: 3rem; 
    color: #75A9FF; 
  }

  .btn-primary {
    background-color: #75A9FF; /* ボタンの背景色 */
    border-color: #75A9FF; /* ボタンのボーダー色 */
  }

  .input-group-text {
    background-color: transparent; /* 背景色を透明にする */
    border: 1px solid #ced4da; /* ボーダーの色 */
  }

  .input-group .form-control {
    border-right: 0; /* 右側のボーダーを削除 */
  }
</style>

<div class="container">
  <h2 class="text-center mb-4">目標を設定する</h2>

  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <%= form_with model: @goal, local: true do |f| %>
            <div class="mb-3">
              <%= f.label :target_weight, "目標体重", class: "form-label" %>
              <div class="input-group">
                <%= f.number_field :target_weight, step: 1, class: "form-control" %>
                <span class="input-group-text">Kg</span>
              </div>
            </div>

            <div class="mb-3">
              <%= f.label :target_body_fat, "目標体脂肪率", class: "form-label" %>
              <div class="input-group">
                <%= f.number_field :target_body_fat, step: 1, class: "form-control" %>
                <span class="input-group-text">%</span>
              </div>
            </div>

            <div class="mb-3">
              <%= f.label :target_date, "目標日", class: "form-label" %>
              <%= f.date_field :target_date, class: "form-control" %> までの目標
            </div>

            <div class="text-center">
              <%= f.submit "目標を設定する", class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

