<style>
  h2.text-center {
    font-size: 3rem; 
    color: #30F9B2; 
  }
  .btn-primary {
    background-color: #30F9B2;
    border-color: #30F9B2; 
  }
</style>

<div class="container">
 <h2 class="text-center mb-4">Edit</h2>
 <div class="row justify-content-center">
  
  <div class="card">
     <div class="card-body">
      <%= form_with model: @body_log, local: true do |f| %>
       <%= f.label :weight, "体重", class: "form-label" %>
        <div class="input-group">
         <%= f.number_field :weight, step: 1, class: "form-control" %>
         <span class="input-group-text">Kg</span>
        </div>
        <%= f.label :body_fat, "体脂肪率", class: "form-label" %>
        <div class="input-group">
         <%= f.number_field :body_fat, step: 1, class: "form-control" %>
         <span class="input-group-text">%</span>
        </div>
        <%= f.label :recorded_at, "記録日", class: "form-label" %>
        <div class="input-group">
         <%= f.date_field :recorded_at, class: "form-control" %>
        </div>
        <div class="text-center">
         <%= f.submit "BodyLogを変更", class: "btn btn-primary mt-4" %>
        </div>
      <% end %>

     </div>
    </div>
 </div>
</div>