<style>
  h2.text-center {
    font-size: 3rem; 
    color: #75A9FF; 
  }
</style>

<div class="container">
    
<% if flash[:body_log_notice].present? %>
  <div class="ml-4 alert alert-success">
    <%= flash[:body_log_notice] %>
  </div>
<% end %>
<% if flash[:body_log_destroy_notice].present? %>
  <div class="ml-4 alert alert-danger">
    <%= flash[:body_log_destroy_notice] %>
  </div>
<% end %>
<% if flash[:body_log_edit_notice].present? %>
  <div class="ml-4 alert alert-warning">
    <%= flash[:body_log_edit_notice] %>
  </div>
<% end %>

 <div class="row justify-content-center">
  <div class="col-md-10">
    <h2 class="text-center mb-4">BodyLogs</h2>
    　<% if @body_logs.any? %>
    <div class="row">
      <% @body_logs.each do |body_log| %>
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="card-body">

              <h6 class="card-text">
                <strong>体重:</strong> <%= body_log.weight %> kg<br>
              </h6>
              <h6 class="card-text">
                <strong>体脂肪率:</strong> <%= body_log.body_fat %> %<br>
              </h6>
              <div class="text-right text-muted">
              記録日:<%= body_log.recorded_at.strftime("%Y-%m-%d") %>
              </div>
            </div>
            <div class="card-footer text-center">
              <%= link_to edit_body_log_path(body_log),  class: 'btn btn-sm btn-outline-dark' do  %>
              編集 <i class="fa-solid fa-pencil"></i>
              <% end %>
              <%= link_to body_log_path(body_log), method: :delete, class: 'btn btn-sm btn-outline-dark', data: { confirm: '本当に削除しますか？' } do  %>
              <i class="fa-solid fa-trash-can"></i>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p class="text-center">Body Logが設定されていません。</p>
  <% end %>
  </div>
 </div>
</div>