<style>
  h3.text-center {
    font-size: 2rem; 
    color: #75A9FF; 
  }

  .btn-primary {
    background-color: #75A9FF; /* ボタンの背景色 */
    border-color: #75A9FF; /* ボタンのボーダー色 */
  }
</style>

<div class="container">

  <div class="card mb-3">
    <div class="card-header">
      <h3 class="text-center">過去のタスク一覧</h3>
    </div>
    <div class="card-body">
      <% if @tasks_by_date.any? %>
        <% @tasks_by_date.each do |date, tasks| %>
          <h5 class="mt-4"><%= date.strftime("%Y年 %m月 %d日") %></h5>
          <ul class="list-group">
            <% tasks.each do |task| %>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <div>
                  <%= task.detail %>
                  <% if task.completed %>
                    <span class="btn btn-sm btn-outline-dark"> 達成 <i class="fa-regular fa-face-smile"></i> <i class="fa-regular fa-thumbs-up" style="color: #63E6BE;"></i></span>
                  <% else %>
                    <span class="btn btn-sm btn-outline-dark"> 未達成 <i class="fa-regular fa-face-surprise"></i> <i class="fa-solid fa-fire" style="color: #fb5656;"></i> </span>
                  <% end %>
                </div>
                <div>
                  <%= link_to '変更', update_status_task_path(task), method: :patch, class: "btn btn-sm btn-outline-primary" %>
                  <%= link_to task_path(task), method: :delete, class: "btn btn-sm btn-outline-dark", data: { confirm: '本当に削除しますか？' } do %>
                    <i class="fa-solid fa-trash-can"></i>
                  <% end %>
                </div>
              </li>
            <% end %>
          </ul>
        <% end %>
      <% else %>
        <p>タスクはありません。</p>
      <% end %>
    </div>
    <div class="card-footer text-center">
      <%= link_to "タスク作成", new_task_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>

