<div class="container">
  <h2 class="text-center p-3" >P r o f i l e 編 集 画 面 </h2>
  <%= form_with(model: @user, local: true, multipart: true) do |form| %>

  
  <div class="row mt-4">
   <div class="col-md-6">
     <div class="form-group">
       <%= form.label :name, "名前" %>
       <%= form.text_field :name, class: "form-control", placeholder: "名前を入力してください" %>
     </div>
     <div class="form-group">
       <%= form.label :body, "自己紹介文" %>
       <%= form.text_area :body, class: "form-control", placeholder: "自己紹介文を入力してください" %>
     </div>

       <%= form.submit "変更保存", class: "btn btn-sm btn-outline-dark mb-4" %>
   </div>
  </div>
  <% end %>
</div>