<style>
  .card-header {
    background: linear-gradient(to right, #007bff, #00d4ff);
    color: #fff; /* テキストの色を白に設定 */
  }
</style>

<div class="container">
  <% if flash[:user_notice].present? %>
    <div class="alert alert-success">
      <%= flash[:user_notice] %>
    </div>
  <% end %>

  <div class="row">
    <!-- サイドバー -->
    <div class="col-md-3">
      
      <div class="card mb-3">
        <div class="card-header">
          <h4 class="mb-0 text-center">Profile <i class="fa-solid fa-user"></i></h4>
        </div>
        <div class="card-body text-center">
          <strong>名前</strong>
          <p class="text-muted mt-2"><%= @user.name %></p>
          <strong>メール</strong>
          <p class="text-muted mt-2"><%= @user.email %></p>
          <strong>紹介文</strong>
          <p class="text-muted mt-2"><%= @user.body.gsub(/\n/, '<br>').html_safe %></p>
          <%= link_to edit_user_path(current_user), class: "btn btn-outline-dark mb-2 w-100" do %>
            編集 <i class="fa-solid fa-user-gear"></i>
          <% end %>
        </div>
      </div>

      <div class="card mb-3">
        <div class="card-header">
          <h4 class="mb-0 text-center"><i class="fa-solid fa-utensils"></i> 食事記録 <i class="fa-solid fa-bowl-food"></i></h4>
        </div>
        <div class="card-body text-center">
          <%= link_to "今日の食事を記録する", new_meal_log_path, class: "btn btn-outline-dark mb-2 w-100" %>
          <%= link_to "過去の食事", meal_logs_path, class: "btn btn-outline-dark w-100" %>
        </div>
      </div>

      <div class="card mb-3">
        <div class="card-header">
          <h4 class="mb-0 text-center"><i class="fa-solid fa-dumbbell"></i> 運動記録 <i class="fa-solid fa-person-running"></i></h4>
        </div>
        <div class="card-body text-center">
          <%= link_to "今日の運動を記録する", new_exercise_log_path, class: "btn btn-outline-dark mb-2 w-100" %>
          <%= link_to "過去の運動", exercise_logs_path, class: "btn btn-outline-dark w-100" %>
        </div>
      </div>
    </div>

    <!-- メインコンテンツ -->
    <div class="col-md-9">
      <div class="card mb-3">
        <div class="card-header">
          <h4 class="text-center mb-0">Today's TASK</h4>
        </div>
        <div class="card-body">
          <% if @today_tasks.any? %>
            <ul class="list-group">
              <% @today_tasks.each do |task| %>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <div>
                    <%= task.detail %>
                    <% if task.completed %>
                      <span class="btn btn-sm btn-outline-dark"> 達成 <i class="fa-regular fa-face-smile"></i> <i class="fa-regular fa-thumbs-up" style="color: #63E6BE;"></i></span>
                    <% else %>
                      <span class="btn btn-sm btn-outline-dark"> 未達成 <i class="fa-regular fa-face-surprise"></i> <i class="fa-solid fa-fire" style="color: #fb5656;"></i> </span>
                    <% end %>
                  </div>
                  <div>
                    <%= link_to '変更', update_status_task_path(task), method: :patch, class: "btn btn-sm btn-outline-success" %>
                  </div>
                </li>
              <% end %>
            </ul>
          <% else %>
            <p>今日のタスクはありません。</p>
          <% end %>
        </div>
        <div class="card-footer text-center">
          <%= link_to "TASK作成", new_task_path, class: "btn btn-outline-dark" %>
          <%= link_to "過去のTASK", tasks_path, class: "btn btn-outline-dark" %>
        </div>
      </div>

      <div class="card mb-3">
        <div class="card-header">
          <h4 class="text-center mb-0"><%= @new_goal.target_date.strftime('%Y年 %m月 %d日') %>までの目標</h4>
        </div>
        <div class="card-body text-center">
          <% if @new_goal %>
            <div class="body-log-entry">
              <p>目標体重:<%= @new_goal.target_weight %> kg</p>
              <p>目標体脂肪率:</strong> <%= @new_goal.target_body_fat %> %</p>
            </div>
          <% else %>
            <p>まだ目標がありません。</p>
          <% end %>
        </div>
        <div class="card-footer text-center">
          <%= link_to "目標を設定する", new_goal_path, class: "btn btn-outline-dark me-2" %>
          <%= link_to "過去の目標", goals_path, class: "btn btn-outline-dark" %>
        </div>
      </div>

      <div class="card mb-3">
        <div class="card-header">
          <h3 class="text-center mb-0">Today's Body Log</h3>
        </div>
        <div class="card-body text-center">
          <% if @today_body_logs.any? %>
           <% @today_body_logs.each do |body_log| %>
            <div class="body-log-entry">
              <p>記録日: <%= body_log.recorded_at.strftime("%Y-%m-%d") %></p>
              <p>体重: <%= body_log.weight %> kg</p>
              <p>体脂肪率: <%= body_log.body_fat%> %</p>
            </div>
           <% end %>
          <% else %>
            <p>今日の記録はまだありません。</p>
          <% end %>
          </div>
          <div class="card-footer text-center">
          <%= link_to "今日の記録を残す", new_body_log_path, class: "btn btn-outline-dark me-2" %>
          <%= link_to "過去のBodyLog", body_logs_path, class: "btn btn-outline-dark" %>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          <h2 class="text-center mb-0">Weight Progress Graph <i class="fa-solid fa-arrow-trend-up" style="color: #63E6BE;"></i></h2>
        </div>
        <div class="card-body">
          <canvas id="weightChart"></canvas>
          <script></script>
        </div>
      </div>
    </div>
  </div>
</div>

